.contenedor-home
    .contenido-home
        .home-container
            .slider
                ngx-slick.carousel(#slickmodal='slick-modal', [config]='slideConfig', (afterchange)='afterChange($event)')
                    .slide(*ngFor='let evento of eventos' ngxSlickItem)
                        img(src='{{ evento?.portada[0].link}}')
            .barrita-gris
                button.boletin(mat-button (click)="abrirBoletin()") BOLETIN
                    mat-icon email
                button.reco-virtual(mat-button) RECORRIDO VIRTUAL
            .home-content
                .home-centro
                    .noticias-container
                        .titulo
                            h1 Noticias
                        .noticias-content
                            .imagen
                                img(src="http://placehold.it/350x150/000000")
                            .noticias
                                .cabecera-noticias
                                    .barra-navegacion
                                        .institucion((click)="cambiar(1)")
                                            a.btn-nav(mat-button style="min-width: inherit;line-height: inherit;padding: inherit;") Institucion
                                        .actualidad((click)="cambiar(2)")
                                            a.btn-nav(mat-button style="min-width: inherit;line-height: inherit;padding: inherit;") Actualidad
                                        .prensa((click)="cambiar(3)")
                                            a.btn-nav(mat-button style="min-width: inherit;line-height: inherit;padding: inherit;") Prensa
                                    .busqueda-noticias
                                        mat-icon search
                                        autocomplete
                                .info-noticias
                                    instituciones(*ngIf="valor===1")
                                    actualidad(*ngIf="valor===2")
                                    prensa(*ngIf="valor===3")
                        .grid-noticias
                            .slider-grid
                                ngx-slick.carousel(#slickmodal='slick-modal', [config]='slideConfigGrid')
                                    .slide(*ngFor='let noticia of noticias' ngxSlickItem)
                                        .noticia
                                            .imagen-content
                                                img(src="http://placehold.it/350x150/000000")
                                            //-img([src]="noticia?.portada[0].link")
                                            .texto
                                                h3 {{noticia.nombre}}
                    .transmiciones
                        .seccion-derecha
                            .slider-vivo
                                ngx-slick.carousel(#slickmodal='slick-modal', [config]='slideConfigVivo')
                                    .slide(*ngFor='let slideVivo of slidesVivos' ngxSlickItem)
                                        h3 {{slideVivo.introduccion}}
                        .seccion-izquierda
                            img(src="assets/images/transmiciones.png")
                    .linea-separador
                    .acervo-cultural
                        .imagen-derecha
                            img(src="assets/images/recomendaciones.png")
                        .texto-centro
                            .texto
                                h1 Acervo Cultural
                                p Accede a la biblioteca, videoteca y fonoteca virtual del Colegio Nacional
                            .botones
                                .biblioteca
                                    img(src="assets/images/colnal_biblioteca.png")
                                    button(mat-button style="min-width: inherit;line-height: inherit;padding: inherit;margin-left: 10px;") Biblioteca
                                .fonoteca
                                    img(src="assets/images/colnal_fonoteca.png")
                                    button(mat-button style="min-width: inherit;line-height: inherit;padding: inherit;margin-left: 10px;") Fonoteca
                                .videoteca
                                    img(src="assets/images/colnal_videoteca.png")
                                    button(mat-button style="min-width: inherit;line-height: inherit;padding: inherit;margin-left: 10px;") Videoteca
                        .parte-izquierda
                            .imagen
                                img(src="assets/images/recomendacionesCI.png")
                            .recomedaciones
                                h1 Recomendaciones C.I.
                        
                    .linea-separador
                    .editoriales
                        .lista-novedades
                            .link
                                h4 MAS NOVEDADES
                            .linea-novedades
                            .lista
                                mat-list
                                    mat-list-item(*ngFor="let novedad of novedades")
                                        .imagen-lista
                                            img(src='{{ novedad.img }}')
                                        .nombre
                                            h3 {{novedad.nombre}}
                                        mat-divider
                        .novedades-editoriales
                            .titulo
                                h2 Novedades Editoriales
                            .slider-novedades
                                ngx-slick.carousel(#slickmodal='slick-modal', [config]='slideConfigNovedades')
                                    .slide(*ngFor='let novedad of novedades' ngxSlickItem)
                                        .imagen-portada
                                            img(src='{{ novedad.img }}')
                                        h3 {{novedad.nombre}}
                                        p {{novedad.fecha}}
                    .recorridos
                        .recorridos-virtual
                            .nombre
                                h1 Recorrido Virtual
                                p Conoce de cerca las instalaciones
                            .video
                                img(src="assets/images/video.png")
                        .seccion-izquierda
                            .tweets-container
                            .boletin-home-container
                                .boletin-home-content
                                    h1 BOLETIN SEMANAL
                                    p suscribete a nuestro boletin de noticias solbre el colegio
                                    //-form([formGroup]="form" (ngSubmit)="submit(correo)" novalidate)
                                        input(formControlName="correo" (ngModel)="correo.nombre" placeholder="Escribe tu correo electronico")
                                        button.boton-suscribir(mat-button type="submit") SUSCRIBETE
                                        input(placeholder="Escribe tu correo electronico" [(ngModel)]="correo.correo")
                .home-lateral
                    .titulo
                        h4 AGENDA
                        .linea-titulo-agenda
                    .lista-agenda
                        mat-list
                            mat-list-item(*ngFor="let evento of eventos" style="height: 180px")
                                .centro-agenda
                                    .titulo-agenda
                                        .circulito([style.backgroundColor]="evento.color")
                                        p {{evento.fecha | date: 'mediumDate'}} - {{evento.hora}}
                                    h4 {{evento.nombre}}
                                    a.btn-ver(mat-button style="min-width: inherit;line-height: inherit;padding: inherit;" (click)="mandarEvento(evento.id)") Ver
                                mat-divider