.busqueda
    autocomplete([array] = "noticias" (selectItem)="filtroNombre($event.nombre)")
.noticia-container
    .noticia-content
        .barra
            button(mat-button (click)="obtenerxTipo(0)") TODO
            .linea
            button(mat-button (click)="obtenerxTipo(1)") INSTITUCION
            .linea
            button(mat-button (click)="obtenerxTipo(2)") ACTUALIDAD
            .linea
            button(mat-button (click)="obtenerxTipo(3)") PRENSA
        .grid-noticias
            .grid-item-noticia(*ngFor="let noticia of noticias")
                .etiqueta([style.backgroundColor]="noticia.color")
                    p {{noticia.tipo}}
                .imagen
                    //-img([src]="noticia?.portada[0].link")
                .texto
                    p {{noticia.introduccion}}
                    a(mat-button (click)="mandarNoticia(noticia.id)" style="min-width: inherit;line-height: inherit;padding: inherit;") Leer mas
        .botones-paginacion
            a(mat-button (click)="anterior()") atras
            p Pagina : {{filtros.pagina}} de {{paginas}}
            a(mat-button (click)="siguiente()") siguiente